
<ion-header no-shadow no-border>
  <ion-navbar color="light">
  	<div style="float: left" *ngIf="followed">
		<button *ngIf="!faved" class="favButton" ion-button icon-only color="dark" (click)="favourite()">
		  <ion-icon name="heart-outline"></ion-icon>
		</button>
		<button *ngIf="faved" class="favButton" ion-button icon-only color="danger" (click)="unfavourite()">
		  <ion-icon name="heart"></ion-icon>
		</button>
  	</div>
	<div style="float: right">
		<button ion-button icon-end *ngIf="followed === 'true'" ion-button round color="light" style="font-weight: bold" (click)="unfollow()">{{ 'UNFOLLOW' | translate }}</button>
		<button ion-button icon-end *ngIf="followed === 'notFriends'" ion-button round color="light" style="font-weight: bold" (click)="follow()">{{ 'FOLLOW' | translate }}</button>
		<button ion-button icon-end *ngIf="followed === 'false'" ion-button round color="light" style="font-weight: bold" (click)="unfollow()">تم الطلب</button>
	</div>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<div class='business-card'>
	  <div class='bc__logo'>
	    <h2>{{name}}</h2><br>
	    	    <a href="https://api.whatsapp.com/send?phone={{mobile}}">
		<button class="socialButton" ion-button icon-only style="background-image: linear-gradient(to top right, #2E794E, #43AE70)">
		  <ion-icon name="logo-whatsapp"></ion-icon>
		</button>
		</a>
		<a (click)="sendSMS()">
		<button class="socialButton" ion-button icon-only style="background-image: linear-gradient(to top right, #215753, #43AEA6)">
		  <ion-icon name="chatboxes"></ion-icon>
		</button>
		</a>
		<a href="tel:{{mobile}}">
		<button class="socialButton" ion-button icon-only style="background-image: linear-gradient(to top right, #141622, #292C44)">
		  <ion-icon name="call"></ion-icon>
		</button>
	</a>
	  </div>
	  <div class='bc__tagline'>
	    <p>{{mobile}}</p>
	    <p>{{phone}}</p>
	    <p>{{email}}</p>
	    <p>{{company}}</p>
	    <p><a href="{{socialLink}}">{{socialLink}}</a></p>
	    <p>{{desc}}</p>
	  </div>
	</div>
	<button class="arrow" ion-button icon-only clear padding (click)="closeModal()">
	  <ion-icon name="custom-arrow-down"></ion-icon>
	</button>

<!-- <div class="userCard">
	  	<span class="title">الاسم</span><br>
	    {{name}}<br><hr>
	  	<span class="title">البريد الالكتروني</span><br>
	    {{email}}<br><hr>
	  	<span class="title">رقم الجوال</span><br>
	    {{mobile}}<br>
		<a href="https://api.whatsapp.com/send?phone=+2 {{mobile}}">
		<button class="socialButton" ion-button icon-only style="background-image: linear-gradient(to top right, #2E794E, #43AE70)">
		  <ion-icon name="logo-whatsapp"></ion-icon>
		</button>
		</a>
		<a (click)="sendSMS()">
		<button class="socialButton" ion-button icon-only style="background-image: linear-gradient(to top right, #215753, #43AEA6)">
		  <ion-icon name="chatboxes"></ion-icon>
		</button>
		</a>
		<a href="tel:{{mobile}}">
		<button class="socialButton" ion-button icon-only style="background-image: linear-gradient(to top right, #141622, #292C44)">
		  <ion-icon name="call"></ion-icon>
		</button>
	</a><br><hr>
	  	<span class="title">رقم الهاتف</span><br>
	    {{phone}}<br><hr>
	  	<span class="title">المنشأة</span><br>
	    {{company}}<br><hr>
	  	<span class="title">لينك تواصل اجتماعي</span><br>
	    <a class="socialLink" target="_blank" href="{{socialLink}}">{{socialLink}}</a><br><hr>
	  	<span class="title">نبذة تعريفية</span><br>
	    {{desc}}<br><hr>
    <ion-row justify-content-center align-items-center style=" flex-direction: column">
		<button class="arrow" ion-button icon-only color="dark" padding (click)="closeModal()">
		  <ion-icon name="custom-arrow-down"></ion-icon>
		</button>
    </ion-row>
</div> -->
</ion-content>
