page-friend-card {
	ion-content{
		background-color: rgba(0, 0, 0, 0.9) !important;
	}
	.toolbar-background{
		background-color: rgba(228, 62, 58, 0.86) !important;
	}
	.socialButton{
		// background-color: transparent;
		// box-shadow: none;
		border-radius: 100px
	}
	.card{
		border-radius: 7px;
		box-shadow: none;
		border: 1px solid #D3D7CF;
		background-color: #EEEEEC;
	}
	a{
		color: white
	}
	.arrow{
		background-color: transparent;
		box-shadow: none;
		border-radius: 100px
	}
	.button{
		box-shadow: none;
	}
	.favButton{
		background-color: transparent;
		box-shadow: none;
		border-radius: 100px;
		color: white
	}
	.title{
		color: red;
		font-weight: bold
	}
	.socialLink{
		color: black;
	}
}
