page-friend-card {
	ion-content{
		background-color: rgba(0, 0, 0, 0.9) !important;
	}
	.socialButton{
		// background-color: transparent;
		// box-shadow: none;
		border-radius: 100px
	}
	.card{
		border-radius: 7px;
		box-shadow: none;
		border: 1px solid #D3D7CF;
		background-color: #EEEEEC;
	}
	a{
		color: white
	}
	.arrow{
		background-color: transparent;
		box-shadow: none;
		border-radius: 200px;
		color: black
	}
	.arrow:active{
		background-color: transparent;
		box-shadow: none;
		border-radius: 200px;
		color: black
	}
	.arrow:hover{
		background-color: transparent;
		box-shadow: none;
		border-radius: 200px;
		color: black
	}
	.button{
		box-shadow: none;
	}
	.favButton{
		background-color: transparent;
		box-shadow: none;
		border-radius: 100px;
		color: #222
	}
	.title{
		color: red;
		font-weight: bold
	}
	.socialLink{
		color: black;
	}

	.userCard{
		margin-right: 20px;
		margin-left: 20px;
		text-align: center;
		padding-top: 55px;
		border-top: 6px #444444 solid;
		color: #444444;
		position: relative;
		z-index: -1 !important;
		// height: 100%;
		background-color: white;
		border-radius: 15px;
		display: block;
		overflow: auto;
	}
}
