<ion-content padding>
<!-- Themes  register-flat-->
    <ion-grid no-padding>
      <!-- logo -->
      <ion-row header align-items-start align-items-stretch>

      <!-- Section form>-->
    <ion-col col-10 offset-1 col-md-6 offset-md-3>
      <div class="form" padding>
        <ion-row align-items-start>
          <ion-col col-10 offset-1 col-md-6 offset-md-3>
              <img logo src="../../assets/imgs/bcLogo.png"/>
            </ion-col>
        </ion-row>
        <!-- Input-field -->
        <ion-row>
          <ion-col col-12>
            <!-- <div input-field> -->
              <!-- Input-field-text -->
            <ion-grid no-padding>
            <ion-row>
            <ion-col col-8>
              <div input-field>
              <ion-item no-padding>
                <ion-input type="text" placeholder="{{ 'Mobile' | translate }}" [(ngModel)]="mobile"></ion-input>
             <ion-label class="warning" no-margin *ngIf="mobile == ''">{{ 'EMAILERROR' | translate }}</ion-label>
            </ion-item>
            </div>
            </ion-col>
            <ion-col  style="max-width: 33.33%">
              <div input-field>
                <ion-item no-padding>
                  <ion-label color="dark" stacked>.</ion-label>
                  <ion-select [(ngModel)]="countryDialCode" [selectedText]="countryDialCode">
                    <ion-option *ngFor="let country of countries" (ionSelect)="getCountryCode(country.code)" value="{{country.dial_code}}">{{country.name}} - {{country.dial_code}}</ion-option>
                  </ion-select>
                </ion-item>
              </div>
            </ion-col>
            </ion-row>
            </ion-grid>
            <div input-field>
              <!-- Input-field-password -->
              <ion-item no-padding>
                <ion-input type="password" placeholder="{{ 'PASSWORD' | translate }}" [(ngModel)]="password"></ion-input>
                <ion-label class="warning" no-margin *ngIf="password == ''">{{ 'PASSWORDERROR' | translate }}</ion-label>
              </ion-item>
            </div>
            <!-- Login button -->
            <ion-col col-12 no-padding>
              <button [disabled]="!mobile || !password || !countryDialCode || loading" no-margin ion-button full text-uppercase color="light" (click)="login()">
              <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
              <span *ngIf="!loading">{{ 'LOGIN' | translate }}</span>
            </button>
            </ion-col>
            <!-- Description -->
            <div description text-center>
              <ion-row>
                <!-- Reset your password button -->
                <!-- <ion-col col-12 no-padding no-margin>
                  <p no-margin no-padding>{{data.txtForgotPassword}} <a>{{data.btnResetYourPassword}}</a> </p>
                </ion-col> -->
                <!-- Signup now button -->
                <ion-col>
                  <p no-margin no-padding>{{ 'DontHaveAccount' | translate }} <a (click)="openRegister()">{{ 'RegisterNow' | translate }}</a> </p>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </div>
      </ion-col>
          </ion-row>
    </ion-grid>
</ion-content>
