page-scan {
  img {
    width: 270px !important;
    height: 270px !important;
  	border-radius: 10px;
    border: 12px solid white;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 9999 !important;
    // padding:20px;
  }

  .center{
  	content: "";
    z-index: -1 !important;
    box-shadow: 0px 0px 0px 5000px rgba(0,0,0,0.7);
    overflow: hidden;
  	width: 270px;
  	height: 270px;
  	border-radius: 20px;
  	border: 3px solid white;
    // max-width: 95%;
    // max-height: calc(98% - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

	ion-footer {
	    &.footer-md::before {
	        background-image: none;
	    }
	}

	.button, .button.active{
		background: transparent;
		box-shadow: none;
	}
}
