<ion-header  no-shadow no-border>

  <div class="myDiv animated pulse">
    <ion-navbar>
        <ion-buttons style="float: right">
            <button id="notification-button" ion-button icon-only clear class="animated zoomInDown" style="font-weight: bold;color:white;border-radius:30px;padding:7px" (click)="followRequests()">
              <ion-icon name="person-add"><ion-badge *ngIf="followRequestsCountVisible" id="notifications-badge" color="danger"><span class="badgeNumber">{{followRequestsCount}}</span></ion-badge></ion-icon>
            </button>
          </ion-buttons>
          <ion-buttons  style="float: left" *ngIf="platform.isRTL">
            <button ion-button icon-only class="animated zoomInDown" style="font-weight: bold;color:white;border-radius:30px;padding:7px" (click)="changeLanguage()">
              EN
            </button>
          </ion-buttons>
          <ion-buttons  style="float: left" *ngIf="!platform.isRTL">
            <button ion-button icon-only class="animated zoomInDown" style="font-weight: bold;color:white;border-radius:30px;padding:7px" (click)="changeLanguage()">
              AR
            </button>
          </ion-buttons>
    </ion-navbar>
    <div padding>
      <ion-searchbar #searchbar (ionInput)="search()" [(ngModel)]="name" placeholder="{{ 'SEARCH' | translate }}"></ion-searchbar>
    </div>
</div>
</ion-header>

<ion-content>
<div [hidden]="!name" padding>
  <div align="center">
    <button ion-button *ngIf="searchType==='name'" round color="dark" (click)="changeSearchType('name')">
      {{ 'Name' | translate }}
    </button>
    <button ion-button *ngIf="searchType==='email' || searchType==='mobile'" outline round color="dark" (click)="changeSearchType('name')">
      {{ 'Name' | translate }}
    </button>
    <button ion-button *ngIf="searchType==='mobile'" round color="dark" (click)="changeSearchType('mobile')">
      {{ 'Mobile' | translate }}
    </button>
    <button ion-button *ngIf="searchType==='email' || searchType==='name'" outline round color="dark" (click)="changeSearchType('mobile')">
      {{ 'Mobile' | translate }}
    </button>
    <button ion-button *ngIf="searchType==='email'" round color="dark" (click)="changeSearchType('email')">
      {{ 'EMAIL' | translate }}
    </button>
    <button ion-button *ngIf="searchType==='mobile' || searchType==='name'" outline round color="dark" (click)="changeSearchType('email')">
      {{ 'EMAIL' | translate }}
    </button>
  </div>
  <div align="center" [hidden]="!searchSpinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div *ngFor="let user of searchData" class="userCard" (click)="openUserCard(user.id)">
      <img src="{{userImage}}/{{user.image}}" class="userPhoto" imageViewer>
      <span style="font-weight: bold">{{user.name}}</span><br>
      {{user.mobile}}
  </div>
</div>
<div [hidden]="name">
  <ion-grid padding>
    <ion-row>
      <ion-col>
        <ion-card class="myCard animated flipInX" style="background-image: linear-gradient(to top right, #F4F4F4, #FFFFFF)">
          <ion-card-content (click)="openMyCards()" padding>
            <ion-icon name="card" style="font-size: 35px"></ion-icon>
            <!-- <ion-icon name="card" style="font-size: 30px"></ion-icon><br> -->
            <p>{{ 'MYCARDS' | translate }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="myCard animated flipInX" style="background-image: linear-gradient(to top right, #DA3B27, #EB8D60);color:white" (click)="openFavourites()">
          <ion-card-content>
            <ion-icon name="custom-like" style="font-size: 30px;"></ion-icon><br>
            {{ 'FAVOURITES' | translate }}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="myCard animated flipInX" style="background-image: linear-gradient(to top right, #212121, #5D5D5D);color:white" (click)="openModal()">
          <ion-card-content>
            <ion-icon name="custom-qr-code" style="font-size: 30px"></ion-icon><br>
            My QR
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
<div style="text-align: center;font-weight: bold">
  <span>{{ 'CONTACTS' | translate }}</span>
</div>

<ion-scroll scrollX="true">
  <div align="center" [hidden]="!spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div *ngFor="let contact of myContactsUsers" class="userCard2" (click)="openUserCard(contact.id)">
      <img src="{{userImage}}/{{contact.image}}" class="userPhoto2" imageViewer>
      <span style="font-weight: bold">{{contact.name}}</span><br>
      {{contact.mobile}}
  </div>
</ion-scroll>

</div>
</ion-content>
<ion-footer [hidden]="!adsStatus">
  <ion-toolbar>
  <a href="{{adLink}}">
    <img src="{{adImage}}{{adPhoto}}" alt="{{adName}}">
  </a>
  </ion-toolbar>
</ion-footer>
